<div class="wrapper">
    <ul class="list">
        <li class="list__item active" data-id="all">Все</li>
        <li class="list__item" data-id="winter">Зима</li>
        <li class="list__item" data-id="spring">Весна</li>
        <li class="list__item" data-id="summer">Лето</li>
        <li class="list__item" data-id="autumn">Осень</li>
    </ul>
    <div class="blocks">
        <div class="blocks__row">
            <div class="blocks__item summer summer1"> <span>ЛЕТО</span> </div>
            <div class="blocks__item autumn autumn1"> <span>ОСЕНЬ</span> </div>
            <div class="blocks__item winter winter1"> <span>ЗИМА</span> </div>
            <div class="blocks__item spring spring1"> <span>ВЕСНА</span> </div>
        </div>

        <div class="blocks__row">
            <div class="blocks__item winter winter2"> <span>ЗИМА</span> </div>
            <div class="blocks__item autumn autumn2"> <span>ОСЕНЬ</span> </div>
            <div class="blocks__item summer summer2"> <span>ЛЕТО</span> </div>
            <div class="blocks__item spring spring2"> <span>ВЕСНА</span> </div>
        </div>

        <div class="blocks__row">
            <div class="blocks__item spring spring3"> <span>ВЕСНА</span> </div>
            <div class="blocks__item summer summer3"> <span>ЛЕТО</span> </div>
            <div class="blocks__item autumn autumn3"> <span>ОСЕНЬ</span> </div>
            <div class="blocks__item winter winter3"> <span>ЗИМА</span> </div>
        </div>
    </div>
</div>