@font-face {
    font-family: 'Metropolis';
    src: url('.fonts/Metropolis-Regular');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url('.fonts/Metropolis-Medium');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url('.fonts/Metropolis-SemiBold');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url('.fonts/Metropolis-Bold');
    font-weight: 700;
    font-style: normal;
}
