.section__hero {
    padding-bottom: 86px;
    position: relative;

    @media (max-width: $breakpoint992) {
        padding-bottom: 400px;
    }
    @media (max-width: $breakpoint768) {
        padding-bottom: 450px;
    }
    .header__img {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 880px;
        width: 100%;
        z-index: -1;

        @media (max-width: $breakpoint1200) {
            max-width: 600px;
        }
        @media (max-width: $breakpoint992) {
            top: unset;
            bottom: 0;
        }
        @media (max-width: $breakpoint480) {
            bottom: 100px;
        }
    }
}

.hero__title {
    padding-top: 100px;
    color: $primary;
    max-width: 387px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;

    @media (max-width: $breakpoint1200) {
        padding-top: 75px;
    }
    @media (max-width: $breakpoint992) {
        padding-top: 50px;
        font-size: 36px;
        line-height: 120%;
        max-width: 100%;
    }
    @media (max-width: $breakpoint480) {
        font-size: 28px;
    }
}
.hero__subtitle {
    margin-top: 15px;
    color: $secondary;
    max-width: 500px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    @media (max-width: $breakpoint992) {
        max-width: 100%;
    }
}
.hero__buttons {
    margin-top: 30px;

    @media (max-width: $breakpoint480) {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
}

.hero__btn {
    @media (max-width: $breakpoint480) {
        justify-content: center;
        margin-top: 20px;
    }
}
.hero__stats-title {
    margin-top: 130px;
    color: $secondaryLight;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;

    @media (max-width: $breakpoint1200) {
        margin-top: 75px;
    }
    @media (max-width: $breakpoint992) {
        margin-top: 50px;
        line-height: 120%;
    }
}
.hero__stats {
    display: flex;
    gap: 80px;

    @media (max-width: $breakpoint992) {
        gap: 50px;
    }
    @media (max-width: $breakpoint480) {
        gap: 25px;
    }
}

.hero__stats-item--num {
    margin-top: 35px;
    color: $primary;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;

    @media (max-width: $breakpoint992) {
        font-size: 26px;
        line-height: 100%;
    }
    @media (max-width: $breakpoint480) {
        font-size: 22px;
    }

}
.hero__stats-item--text {
    margin-top: 12px;
    color: $secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;

    @media (max-width: $breakpoint480) {
        margin-top: 5px;
        font-size: 12px;
    }
}
