// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1080;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';

// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Colors
$primary: #232427;
$secondary: #5e5c6c;
$secondaryLight: #9aa3b8;
$neutral: #2962ef;
$neutralDark: #1348ce;
